{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PME Control</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% comment %} Police de google font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container main mb-3">
        <div class="row">
            <div class="col-md-5">
                <P class='text-center text-page'>Bienvenue sur notre application de recensement des entreprises PME ! nous recensons les petites et moyennes entreprises qui constituent le tissu économique dynamique de notre région</P>
                <img src="{% static "start up.png" %}" alt="start up" class="img-fluid">
            </div>
            <div class="col-md-7">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} text-center">{{message}}</div>
                {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingUsername" name="username">
                        <label for="floatingUsername">Nom Utilisateur</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" name="password">
                        <label for="floatingPassword">Mot de passe</label>
                    </div>
                    <div class="mt-3">
                        <button class='btn btn-primary w-100'>Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>